/*
input::-webkit-input-placeholder {}
input:-moz-placeholder {}
input::-moz-placeholder {}
input:-ms-input-placeholder {}
-webkit-appearance: none; -moz-appearance: none; appearance: none;
*/


html, body {
	width: 100%;
	background-color: white;
	font-size: 100%;	
}

p{}

h1, h2, h3, h4 { margin: 0;}
ul{padding: 0; margin: 0;}

a:hover { text-decoration: none;}
a:active, a:focus { color: inherit;}

.no-padding {padding: 0;}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	

}

@media (max-width: 768px){

	/* ----- COLLAPSE ONLY FOR BOOTSTRAP ----- */
    .breadcrumbs-nav { text-align: center;}
	.navbar-header {float: none;}
  	.navbar-left,.navbar-right {float: none !important;}
  	.navbar-toggle {display: block;}
  	.navbar-collapse {border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
  	.navbar-fixed-top {top: 0; border-width: 0 0 1px;}
  	.navbar-collapse.collapse {display: none!important;}
  	.navbar-nav {float: none!important; margin-top: 7.5px;}
  	.navbar-nav>li {float: none;}
  	.navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px;}
  	.collapse.in{display:block !important;}
	/* ----- /COLLAPSE ONLY FOR BOOTSTRAP ----- */

	.no-padding { padding: 0 .5em;}
	.no-padding-left { padding-left: 0 .5em;}
	.no-padding-right { padding-right: 0 .5em;}

	.no-padding-xs { padding: 0;}
	.no-padding-left-xs { padding-left: 0;}
	.no-padding-right-xs { padding-right: 0;}

}

@media (max-width: 465px){



}

@media (max-width: 375px){



}

@media (max-width: 320px){



}

